@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.header {
   // display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   padding-block: toRem(27);
   transition: all 0.3s;


   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      backdrop-filter: blur(10px);
      width: 100%;
      height: 100%;
      z-index: -1;
   }

   &.scrolled {
      &::before {
         background: rgba(250, 250, 250, 0.2);
         backdrop-filter: blur(20px);
      }
   }

   // .header__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap',30,15);
   }

   // .header__logo
   &__logo {
      width: toRem(69);
      height: toRem(47);
      z-index: 10;
   }

   // .header__menu
   &__menu {}

   &__buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(15);
      z-index: 10;
   }
}

.menu-header {

   @media (max-width: toEm(594)) {
      position: fixed;
      top: 0;
      right: -100%;
      display: block;
      width: 100%;
      height: 100%;
      padding: toRem(100) toRem(15) toRem(30) toRem(15);
      background-color: $colorPrimiry;
      transition: all 0.3s;

      &::before {
         content: "";
         position: fixed;
         top: 0;
         right: -100%;
         width: 100%;
         height: toRem(100);
         background-color: $white;
         transition: all 0.3s;


         .menu-open & {
            right: 0;
         }
      }

      .menu-open & {
         right: 0;
      }
   }

   // .menu-header__list
   &__list {
      display: flex;
      align-items: center;
      @include adaptiveValue('gap',60,20);
      flex-wrap: wrap;

      @media (max-width: toEm(595)) {
        flex-direction: column;
        gap: toRem(26);
        align-items: flex-end;
        padding-top: toRem(40);
      }
   }

   // .menu-header__item
   &__item {
      font-size: toRem(14);
      text-transform: uppercase;

      @media (max-width: toEm(595)) {
        color: $white;
        font-size: toRem(22);
      }
   }

   // .menu-header__link
   &__link {
      position: relative;
      transition: all 0.3s;

      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         translate: -50% 0;
         width: 0;
         height: toRem(2);
         background-color: $colorAccent;
         transition: width 0.3s;
      }

      @include hover {
         color: $colorAccent;
         text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);

         &::after {
            width: 100%;
         }
      }
   }
}

