@use '../settings/settings' as *;
@use '../settings/mixins' as *;


// ===========================================================================================
// -----------------------------
// Page
// -----------------------------
.page {

   // > *:not(.subscribe) {
   //    display: none;
   // }

   // .page__hero
   &__hero {
      @include adaptiveValue('padding-top', 200, 120);
      @include adaptiveValue('padding-bottom',80,40);
   }

   // .page__parameters
   &__parameters {
      @include adaptiveValue('padding-top', 80, 40);
      @include adaptiveValue('padding-bottom', 65, 30);
   }

   // .page__product
   &__product {
      @include adaptiveValue('padding-block', 65, 30);
   }

   // .page__motor
   &__motor {
      @include adaptiveValue('padding-block', 65, 30);
   }

   // .page__accsessories
   &__accsessories {
      @include adaptiveValue('padding-top', 65, 30);
      @include adaptiveValue('padding-bottom', 130, 30);
   }

   // .page__gallery
   &__gallery {
      @include adaptiveValue('padding-block', 65, 30);
   }

   // .page__colors
   &__colors {
      @include adaptiveValue('padding-block', 65, 30);
   }

   // .page__testimonials
   &__testimonials {
      @include adaptiveValue('padding-block', 80, 30);
   }

   // .page__subscribe
   &__subscribe {
      @include adaptiveValue('padding-top', 120, 30);
      @include adaptiveValue('padding-bottom', 130, 30);
   }
}


// ===========================================================================================
// -----------------------------
// hero
// -----------------------------
.hero {

   // .hero__container
   &__container {
      position: relative;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 50%;
      //   translate: 0 -50%;
      //   right: 0;
      //   width: 35%;
      //   height: 70%;
      //   background-color: $bgAccent;
      //   z-index: -1;
      //   border-radius: toRem(300) toRem(0) toRem(0) toRem(300);
      // }
   }

   // .hero__inner
   &__inner {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(500),100%),1fr));
      gap: toRem(20);

      @media (max-width: toEm(685)) {
      //   flex-direction: column;
      //   gap: toRem(20);
      }
   }

   // .hero__content
   &__content {
      // flex: 1 1 45%;
      @include adaptiveValue('padding-block',50,20);
   }

   // .hero__image
   &__image {
      position: relative;
      // flex: 1 1 55%;
      aspect-ratio: 855 / 646;
      width: 100%;
      height: 100%;

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         translate: 0 -50%;
         right: 0;
         width: 65%;
         height: 60%;
         background-color: $bgAccent;
         z-index: -1;
         border-radius: toRem(300) toRem(0) toRem(0) toRem(300);
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         // object-position: left;
      }
   }
}

.content-hero {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   @include adaptiveValue('gap',62,20);
   // .content-hero__title
   &__title {
      position: relative;
      @include adaptiveValue('font-size',90,45);
      font-weight: 300;
      max-width: toRem(586);
      text-transform: uppercase;
      line-height: 105.555556%; /* 95/90 */
      @include adaptiveValue('padding-bottom',93,20);
      span {
         font-weight: 700;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $colorPrimiry;
        height: toRem(4);
        width: 60%;
      }
   }

   // .content-hero__text
   &__text {
      // @include adaptiveValue('padding-top',62,20);
      max-width: toRem(353);
      @include adaptiveValue('font-size',22,18);
      line-height: 154.545455%; /* 34/22 */
   }

   // .content-hero__buttons
   &__buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue('gap',80,30);
   }
}

// ===========================================================================================
// -----------------------------
// parameters
// -----------------------------
.parameters {

   // .parameters__container
   &__container {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(150),100%),1fr));
      padding-block: toRem(30);
      @include adaptiveValue('gap',58,15);


      // &.animate {
      //    .parameters__item {
      //       animation: fadeShow 0.6s ease forwards;
      //    }
      //    @for $i from 1 through 10 {
      //       .parameters__item:nth-child(#{$i}) {
      //          animation-delay: #{0.2s * $i};
      //       }
      //    }
      // }

      &.animate {
         .parameters__item {
            animation: fadeShow 0.6s ease forwards;
         }

         @for $i from 1 through 10 {
            .parameters__item:nth-child(#{$i}) {
               animation-delay: #{0.15s * $i};
            }
         }
      }
   }

   // .parameters__item
   &__item {
      opacity: 0;
   }
}

.item-parameters {
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   // padding: toRem(28) toRem(35) toRem(32);
   // align-items: center;
   @include adaptiveValue('gap',18,10);
   // .item-parameters__label
   &__label {
      @include adaptiveValue('font-size',40,20);
      font-weight: 700;
      text-align: center;

      span {
         font-size: toRem(18);
      }
   }

   // .item-parameters__desc
   &__desc {
      font-size: toRem(13);
      text-align: center;
   }
}

// ===========================================================================================
// -----------------------------
// product
// -----------------------------
.product {
   opacity: 0;
   transition: opacity 1s ease;

   &.animate {
      opacity: 1;
   }
   // .product__container
   &__container {}

   // .product__header
   &__header {
      margin-bottom: toRem(20);
   }

   // .product__body
   &__body {}
}

.body-product {
   display: flex;
   justify-content: space-between;
   @include adaptiveValue('gap',177,30);
   align-items: center;

   // .body-product__image
   &__image {
      flex: 1 1 50%;
      aspect-ratio: 748 / 706;
      transition: translate 1s ease, opacity 1s ease;
      opacity: 0;
      translate: -80% 0;

      &.animate {
         translate: 0 0;
         opacity: 1;
      }


      img {
         width: 100%;
         height: 100%;
      }
   }

   // .body-product__features
   &__features {
      flex: 1 1 50%;
   }

   @media (max-width: toEm(700)) {
     flex-direction: column;
     gap: toRem(20);
   }
}

.features-product {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   @include adaptiveValue('gap',34,15);

   &.animate {
      .features-product__item {
         animation: fadeUp 0.6s ease forwards;
      }
      @for $i from 1 through 10 {
         .features-product__item:nth-child(#{$i}) {
            animation-delay: #{0.2s * $i};
         }
      }
   }

   // .features-product__item
   &__item {
      display: flex;
      align-items:flex-start;
      @include adaptiveValue('gap',18,10);
      @include adaptiveValue('font-size',20,16);
      line-height: 1.4;
      opacity: 0;
      transform: translateY(20px);

      &::before {
         font-size: toRem(40);
      }
      // .features-product__item--icon-i-check
      &--icon-i-check {}
   }
}

// ===========================================================================================
// -----------------------------
// motor
// -----------------------------
.motor {
   opacity: 0;
   transition: opacity 1s ease;

   &.animate {
      opacity: 1;
   }
   // .motor__container
   &__container {}

   // .motor__header
   &__header {}

   &__image {
      width: 100%;
      height: 100%;
   }
}

// ===========================================================================================
// -----------------------------
// accsessories
// -----------------------------
.accsessories {
   opacity: 0;
   transition: opacity 1s ease;

   &.animate {
      opacity: 1;
   }
   // .accsessories__container
   &__container {}

   // .accsessories__header
   &__header {
      @include adaptiveValue('margin-bottom',120,30);
   }

   &__title {
      @include adaptiveValue('font-size',50,25);
      font-weight: 700;
   }

   &__body {
      display: grid;

      > * {
         @include adaptiveValue('margin-bottom',112,50);
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   // .accsessories__row
   &__row {
      // display: flex;
      // align-items: center;
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(340),100%),1fr));
      gap: toRem(20);
      align-items: center;

      &:nth-child(2) {
         @include adaptiveValue('margin-bottom',74,40);
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      @include adaptiveValue('gap',33,10);
      flex: 1 1 33.333%;

      &--top {}

      &--bottom {

         @media (max-width: toEm(1089)) {
           order: 1;
         }
      }
   }

   &__button {
      justify-self: center;
   }

   // .accsessories__list
   &__list {}

   // .accsessories__image
   &__image {
      flex: 1 1 33.333%;
      aspect-ratio: 1;

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      // .accsessories__image--scooter
      &--scooter {
         opacity: 0;
         translate: 80% 0;
         transition: translate 1s ease;
         &.animate {
            opacity: 1;
            translate: 0 0;
         }
      }

      &--multi {
         opacity: 0;
         translate: 100% 0;
         transition: translate 0.6s ease;

         &.animate {
            opacity: 1;
            translate:0 0;
         }
      }

      &--rack {
         width: toRem(240);
         height: toRem(210);
         align-self: end;
         translate: 30% 0;
         opacity: 0;
         transition: translate 0.6s ease;
         &.animate {
            opacity: 1;
            translate: 0 0;
         }
         @media (max-width: toEm(1089)) {
            order: 2;
         }
      }

      &--trunk {
         opacity: 0;
         translate: -80% 0;
         transition: translate 1.3s ease;
         &.animate {
            opacity: 1;
            translate: 0 0;
         }
         @media (max-width: toEm(1089)) {
            order: 3;
         }
      }
   }
}

.list-accsessories {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   @include adaptiveValue('gap',33,15);

   &.animate {
      .list-accsessories__item {
         animation: fadeUp 0.6s ease forwards;
      }

      @for $i from 1 through 10 {
         .list-accsessories__item:nth-child(#{$i}) {
            animation-delay: #{0.2s * $i};
         }
      }
   }

   // .list-accsessories__item
   &__item {
      display: flex;
      align-items: flex-start;
      @include adaptiveValue('gap', 18, 10);
      @include adaptiveValue('font-size', 20, 16);
      line-height: 1.4;
      opacity: 0;
      transform: translateY(20px);

      &::before {
         font-size: toRem(40);
      }
      // .list-accsessories__item--icon-i-check
      &--icon-i-check {}
   }
}

// ===========================================================================================
// -----------------------------
// gallery
// -----------------------------
.gallery {
   opacity: 0;
   transition: opacity 1s ease;

   &.animate {
      opacity: 1;
   }
   // .gallery__container
   &__container {}

   // .gallery__header
   &__header {
      @include adaptiveValue('margin-bottom',112,30);
   }

   // .gallery__body
   &__body {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(toRem(400), 100%), 1fr));
      @include adaptiveValue('gap',74,30);
   }
}

.column-gallery {
   display: flex;
   flex-direction: column;

   &--left {
      @include adaptiveValue('gap',55,30);
      justify-content: flex-end;
   }

   &--right {
      @include adaptiveValue('gap',96,30);
   }

   // .column-gallery__image
   &__image {
      position: relative;
      aspect-ratio: 633 / 485;
      opacity: 0;
      transition: opacity 1s ease;

      &.animate {
         opacity: 1;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .column-gallery__label
   &__label {
      position: absolute;
      top: percent(35,485);
      left: percent(38,633);
      @include adaptiveValue('font-size',30,16);
      font-weight: 700;
   }

   // .column-gallery__buttons
   &__buttons {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      gap: toRem(27);

      &.animate {
         .column-gallery__button {
            animation: fadeSide 0.6s ease forwards;
         }

         @for $i from 1 through 5 {
            .column-gallery__button:nth-child(#{$i}) {
               animation-delay: #{0.2s * $i};
            }
         }
      }
   }

   &__button {
      opacity: 0;
      translate: -80% 0;
   }
}

// ===========================================================================================
// -----------------------------
// colors
// -----------------------------
.colors {
   opacity: 0;
   transition: opacity 1s ease;

   &.animate {
      opacity: 1;
   }
   // .colors__container
   &__container {}

   // .colors__header
   &__header {}

   // .colors__body
   &__body {}
}

.body-colors {

   // .body-colors__image-hero
   &__image {
      width: 100%;
      height: 100%;
      opacity: 0;
      translate: 80% 0;
      transition: translate 0.8s ease;

      &.animate {
         opacity: 1;
         translate: 0 0;
      }
   }
}

.options-colors {
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(min(toRem(200),100%),1fr));
   @include adaptiveValue('gap',95,20);
   translate: 0 toRem(-100);

   &.animate {
      .options-colors__item {
         animation: fadeShow 0.6s ease forwards;
      }

      @for $i from 1 through 10 {
         .options-colors__item:nth-child(#{$i}) {
               animation-delay: #{0.2s * $i};
            }
      }
   }

   @media (max-width: toEm(1114)) {
     translate: 0 0;
   }
   @media (max-width: toEm(469)) {
     display: flex;
     overflow: auto;
     margin-inline: toRem(-15);
     padding-inline: toRem(15);
   }

   &__item {
      position: relative;
      aspect-ratio: 1;
      box-shadow: 0px 15px 70px 0px rgba(162, 169, 192, 0.2);
      border-radius: toRem(10);
      overflow: hidden;
      flex-shrink: 0;
      opacity: 0;
   }

   &__image {
      // position: relative;
      object-fit: cover;
      width: 100%;
      height: 100%;
   }

   &__number {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: toRem(80);
      font-weight: 700;
      color: rgba(255, 255, 255, 0.6);
      line-height: 115%; /* 92/80 */
   }
}

// ===========================================================================================
// -----------------------------
// testimonials
// -----------------------------
.testimonials {
   opacity: 0;
   transition: opacity 1s ease;

   &.animate {
      opacity: 1;
   }

   // .testimonials__container
   &__container {}

   // .testimonials__header
   &__header {
      @include adaptiveValue('margin-bottom',41,20);
   }

   // .testimonials__body
   &__body {
      @include adaptiveValue('margin-bottom',47,25);
   }

   &__buttons {
      display: flex;
      align-items: center;
      gap: toRem(24);
      justify-content: center;
   }
}

.author {
   display: flex;
   align-items: center;
   gap: toRem(20);

   // .author__logo
   &__logo {
      border-radius: 50%;
      width: toRem(48);
      height: toRem(48);
   }

   // .author__info
   &__info {}

   // .author__name
   &__name {
      font-weight: 500;
   }

   // .author__prof
   &__prof {
      font-size: toRem(14);
   }
}

// ===========================================================================================
// -----------------------------
// subscribe
// -----------------------------
.subscribe {
   opacity: 0;
   transition: opacity 1s ease;

   &.animate {
      opacity: 1;
   }
   // .subscribe__container
   &__container {}

   // .subscribe__header
   &__header {
      @include adaptiveValue('margin-bottom',60,30);
   }

   // .subscribe__body
   &__body {}

   // .subscribe__form
   &__form {}
}

.form-subscribe {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: toRem(20);

   // .form-subscribe__input
   &__input {
      padding-block: toRem(27);
      @include adaptiveValue('padding-inline-start',38,15);
      max-height: toRem(81);
      max-width: toRem(400);

      &::placeholder {
         font-size: toRem(20);
         transition: opacity 0.3s;
      }
      &:focus {
         &::placeholder {
            opacity: 0;
         }
      }
   }

   // .form-subscribe__button
   &__button {
      align-items: stretch;
      text-transform: capitalize;
   }

   @media (max-width: toEm(592)) {
     flex-direction: column;

   .form-subscribe__button {
      width: 100%;
   }
      .form-subscribe__input {
         max-width: 100%;
      }
   }
}

