@font-face {
   font-family: 'iconfont';
   src:
      url('/src/assets/fonts/icomoon.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class*="--icon-"]::before {
   font-family: 'iconfont' ;
   line-height: 1 !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-arrow-bt"]::before {
   content: "\e900";
}

[class*="--icon-i-arrow"]::before {
   content: "\e901";
}

[class*="--icon-i-check"]::before {
   content: "\e902";
}

[class*="--icon-i-chevron"]::before {
   content: "\e903";
}

[class*="--icon-i-fb"]::before {
   content: "\e904";
}

[class*="--icon-i-play"]::before {
   content: "\e905";
}

[class*="--icon-i-twitter"]::before {
   content: "\e906";
}

[class*="--icon-logo"]::before {
   content: "\e907";
}

[class*="--icon-star"]::before {
   content: "\e908";
}

[class*="--icon-instagram"]::before {
   content: "\e909";
}

.--icon-arrow-bt:before {
   content: "\e900";
}

.--icon-i-arrow:before {
   content: "\e901";
}

.--icon-i-check:before {
   content: "\e902";
}

.--icon-i-chevron:before {
   content: "\e903";
}

.--icon-i-fb:before {
   content: "\e904";
}

.--icon-i-play:before {
   content: "\e905";
}

.--icon-i-twitter:before {
   content: "\e906";
}

.--icon-logo:before {
   content: "\e907";
}

.--icon-star:before {
   content: "\e908";
}

.--icon-instagram:before {
   content: "\e909";
}
